:root {
    --background-color: #e2cdb8;
    --nav-background-color: #381604;
    --nav-text-color: #eae6da;
    --shadow-color: #920904;
    --second-color: #c09776;
    --text-color: #000000;
    --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --border: 1px solid var(--nav-background-color);
    --border-radius: 20px;
}

body.evening {
    --background-color: #3c2a19;
    --nav-background-color: #802405;
    --shadow-color: #802405;
    --text-color: #eae6da;
    --border: 1px solid var(--text-color);
}

body.midnight {
    --background-color: #151515;
    --nav-background-color: #5c0604;
    --shadow-color: #5c0604;
    --text-color: #C6A683;
    --nav-text-color: #C6A683;
    --border: 1px solid var(--text-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--text-color);
}

main {
    min-height: calc(100vh - 195px);
    margin-top: 5em;
}

#toggle-nav {
    background-color: unset;
    border: none;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    padding: 6px 0;

    background-color: var(--nav-background-color);
    color: var(--nav-text-color);

    nav ul {
        display: none;

        list-style-type: none;
        padding: 0;
        padding-bottom: 50px;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 20vh;

        a {
            color: inherit;
        }
    }
}

header.open nav ul {
    display: flex;
}

#try-themes {
    position: fixed;
    right: 27em;
    top: 47px;
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: var(--border);
    color: var(--second-color);
    text-shadow:10px 10px 0px var(--shadow-color);
    border-radius: var(--border-radius);
    border-bottom: var(--border);
    border-top: var(--border);
    background-color: var(--background-color);

    h1 {
        font-size: min(10em, 20vw);
        margin: 3rem 0;
        line-height: 0.8;
        width: min-content;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
    }

    img {
        max-width: 50em;
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
}

article {
    max-width: 30em;
    padding: 2em;
    margin: 2em;
    border: var(--border);
    border-radius: var(--border-radius);
}

footer {
    background-color: var(--nav-background-color);
    padding: 10px;
    border-radius: 10px;

    a {
        text-decoration: unset;
        color: var(--nav-text-color);
    }
}

a {
    color: var(--text-color);
}

@media only screen and (min-width: 500px) {
    #toggle-nav {
        display: none;
    }

    #try-themes {
        display: flex;
    }

    header {
        background-color: unset;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        height: unset;
        gap: 1em;
        justify-content: end;
        list-style-type: none;
        padding: 0;
        background-color: var(--nav-background-color);
        border-radius: var(--border-radius);
        position: fixed;
        top: 0;
        left: 10px;
        width: calc(100vw - 30px);
        z-index: 2;
    
        a, select {
            color: var(--nav-text-color);
            background-color: var(--nav-background-color);
            padding: 10px;
            border-radius: 10px;
            border: 3px solid var(--background-color);
        }
    
        a {
            text-decoration: unset;
        }
    
        select {
            margin: -11px 0;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .hero {
        flex-direction: row;

        h1 {
            font-size: 10vw;
        }

        img {
            width: 50vw;
        }
    }
}